<?xml version="1.0"?>
<!--
/**
* NOTICE OF LICENSE
*
* This source file is subject to the Creative Commons License BY-NC-ND.
* NonCommercial — You may not use the material for commercial purposes.
* NoDerivatives — If you remix, transform, or build upon the material,
* you may not distribute the modified material.
* See the full license at http://creativecommons.org/licenses/by-nc-nd/4.0/
*
* See http://mventory.com/legal/licensing/ for other licensing options.
*
* @package MVentory/UICameraSliderWidget
* @copyright Copyright (c) 2014 mVentory Ltd. (http://mventory.com)
* @license http://creativecommons.org/licenses/by-nc-nd/4.0/
*/
-->
<config>
  <modules>
    <MVentory_UICameraSliderWidget>
      <version>0.1.1</version>
    </MVentory_UICameraSliderWidget>
  </modules>
  <global>
    <blocks>
        <camerasliderwidget>
           <class>MVentory_UICameraSliderWidget_Block</class>
        </camerasliderwidget>
    </blocks>
    <helpers>
        <camerasliderwidget>
          <class>MVentory_UICameraSliderWidget_Helper</class>
        </camerasliderwidget>
    </helpers>

  </global>
  
  <frontend>
        <layout>
            <updates>
                <homepagecategories>
                    <file>camerasliderwidget.xml</file>
                </homepagecategories>
            </updates>
        </layout>
  </frontend>
  
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <camerasliderwidget translate="title" module="camerasliderwidget">
                      <title>mVentory cameraslider</title>
                      <sort_order>10</sort_order>
                    </camerasliderwidget>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  
  <default><!--for system.xml default vals-->
    <camerasliderwidget>
        <group1>               
            <isenabled>1</isenabled> 
        </group1>       
    </camerasliderwidget>
  </default>
  
</config>