<?xml version="1.0"?>

<!--
/**
* NOTICE OF LICENSE
*
* This source file is subject to the Creative Commons License BY-NC-ND.
* NonCommercial — You may not use the material for commercial purposes.
* NoDerivatives — If you remix, transform, or build upon the material,
* you may not distribute the modified material.
* See the full license at http://creativecommons.org/licenses/by-nc-nd/4.0/
*
* See http://mventory.com/legal/licensing/ for other licensing options.
*
* @package MVentory/UICategoryExternalLink
* @copyright Copyright (c) 2014-2015 mVentory Ltd. (http://mventory.com)
* @license http://creativecommons.org/licenses/by-nc-nd/4.0/
*/
-->

<config>
  <modules>
    <MVentory_UICategoryExternalLink>
      <version>1</version>
    </MVentory_UICategoryExternalLink>
  </modules>

  <global>
    <helpers>
      <uicategoryexternalurl>
        <class>MVentory_UICategoryExternalLink_Helper</class>
      </uicategoryexternalurl>
    </helpers>

    <models>
      <uicategoryexternalurl>
        <class>MVentory_UICategoryExternalLink_Model</class>
      </uicategoryexternalurl>

      <catalog>
        <rewrite>
          <observer>MVentory_UICategoryExternalLink_Model_Observer</observer>
        </rewrite>
      </catalog>
    </models>

    <resources>
      <uicategoryexternalurl_setup>
        <setup>
          <module>MVentory_UICategoryExternalLink</module>
          <class>Mage_Catalog_Model_Resource_Setup</class>
        </setup>
      </uicategoryexternalurl_setup>
    </resources>
  </global>

  <frontend>
    <category>
      <collection>
        <attributes>
          <external_url/>
        </attributes>
      </collection>
    </category>
  </frontend>
</config>
