<?xml version="1.0"?>

<!--
/**
* NOTICE OF LICENSE
*
* This source file is subject to the Creative Commons License BY-NC-ND.
* NonCommercial — You may not use the material for commercial purposes.
* NoDerivatives — If you remix, transform, or build upon the material,
* you may not distribute the modified material.
* See the full license at http://creativecommons.org/licenses/by-nc-nd/4.0/
*
* See http://mventory.com/legal/licensing/ for other licensing options.
*
* @package MVentory/UICategoryExternalLink
* @copyright Copyright (c) 2014 mVentory Ltd. (http://mventory.com)
* @license http://creativecommons.org/licenses/by-nc-nd/4.0/
*/
-->

<config>
  <modules>
    <MVentory_UICategoryExternalLink>
      <version>0.1.0</version>
    </MVentory_UICategoryExternalLink>
  </modules>

  <global>
    <blocks>
      <categoryexternallink>
        <class>MVentory_UICategoryExternalLink_Block</class>
      </categoryexternallink>

      <page>
        <rewrite>
          <html_topmenu>MVentory_UICategoryExternalLink_Block_Html_Topmenu</html_topmenu>
        </rewrite>
      </page>
    </blocks>

    <helpers>
      <categoryexternallink>
        <class>MVentory_UICategoryExternalLink_Helper</class>
      </categoryexternallink>
    </helpers>

    <models>
      <categoryexternallink>
        <class>MVentory_UICategoryExternalLink_Model</class>
      </categoryexternallink>

      <catalog>
        <rewrite>
          <!--
          <category>MVentory_UICategoryExternalLink_Model_Category</category>
          <category_url>MVentory_UICategoryExternalLink_Model_Category_Url</category_url>
          <url>MVentory_UICategoryExternalLink_Model_Url</url>
          -->

          <observer>MVentory_UICategoryExternalLink_Model_Observer</observer>
        </rewrite>
      </catalog>
    </models>

    <events>
      <!--
      <page_block_html_topmenu_gethtml_before>
        <observers>
          <catalog_add_topmenu_items>
            <class>catalog/observer</class>
            <method>addCatalogToTopmenuItems</method>
          </catalog_add_topmenu_items>
        </observers>
      </page_block_html_topmenu_gethtml_before>
      -->
    </events>
  </global>

  <adminhtml>
  </adminhtml>

</config>
